@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
  @apply bg-gradient-to-r from-violet-400 to-violet-100

}
.triangle-up-vote
{
width: 0;
height: 0;
border-style: solid;
border-width: 0 7px 13px 7px;
border-color: transparent transparent #EE6B4F transparent;

}
